:root {
	--player-class-colour-DeathKnight: #c41f3b;
	--player-class-colour-DemonHunter: #a330c9;
	--player-class-colour-Druid: #ff7d0a;
	--player-class-colour-Evoker: #33937f;
	--player-class-colour-Hunter: #a9d271;
	--player-class-colour-Mage: #40c7eb;
	--player-class-colour-Monk: #00ff96;
	--player-class-colour-Paladin: #f58cba;
	--player-class-colour-Priest: #ffffff;
	--player-class-colour-Rogue: #fff569;
	--player-class-colour-Shaman: #0070de;
	--player-class-colour-Warlock: #8787ed;
	--player-class-colour-Warrior: #c79c6e;
	--player-class-colour-Unknown: #ffffff;
}
